<table>
  <thead>
    <tr>
      <th scope="col" data-col="title">
        {{ sorter_link(sorter, 'title', 'Title') }}
      </th>
      <th scope="col" data-col="a">
        {{ sorter_link(sorter, 'a', 'A') }}
      </th>
      <th scope="col" data-col="b">
        <a href="{{ sorter_url(sorter, 'b') }}" class="SortLink SortLink--{{ sorter_direction(sorter, 'b') }}">B</a>
      </th>
      <th scope="col" data-col="c">
        <a href="{{ sorter_url(sorter, 'c') }}" class="SortLink SortLink--{{ sorter_direction(sorter, 'c') }}">
          C
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        <th scope="row">{{ row.title }}</th>
        <td>{{ row.a }}</td>
        <td>{{ row.b }}</td>
        <td>{{ row.c }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
